git+ssh://git@github.com/CentroGeo/sisdai-mapas.git = git+https://github.com/CentroGeo/sisdai-mapas.git
ssh://git@github.com/CentroGeo/sisdai-mapas.git = https://github.com/CentroGeo/sisdai-mapas.git
