services:
  x-common-sigic-frontend: &default-common-sigic-frontend
    image: ${COMPOSE_PROJECT_NAME}/sigic-frontend
    ports:
      - '3000:3000'
    restart: unless-stopped
    environment:
      NODE_ENV: ${NODE_ENV}
      NUXT_PUBLIC_GEONODE_URL: ${NUXT_PUBLIC_GEONODE_URL}
      NUXT_PUBLIC_GEONODE_API: ${NUXT_PUBLIC_GEONODE_API}
      NUXT_PUBLIC_GEOSERVER_URL: ${NUXT_PUBLIC_GEOSERVER_URL}
      NUXT_PUBLIC_IA_BACKEND_URL: ${NUXT_PUBLIC_IA_BACKEND_URL}

  sigic-frontend-main:
    <<: *default-common-sigic-frontend
    container_name: sigic-frontend-main4${COMPOSE_PROJECT_NAME}
    ports:
      - '${SFE_MAIN_HOST_PORT}:3000'
    restart: unless-stopped
    environment:
      NUXT_PUBLIC_BASE_URL: ${SFE_MAIN_NUXT_PUBLIC_BASE_URL}
      NUXT_PUBLIC_DEFAULT_PAGE: ${SFE_MAIN_NUXT_PUBLIC_DEFAULT_PAGE}
      NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER: ${SFE_MAIN_NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER}
      NUXT_PUBLIC_ENABLE_AUTH: ${SFE_MAIN_NUXT_PUBLIC_ENABLE_AUTH}
      NUXT_PUBLIC_ENABLE_CATALOGO_VISTA: ${SFE_MAIN_NUXT_PUBLIC_ENABLE_CATALOGO_VISTA}
      NUXT_PUBLIC_ENABLE_CATALOGO_CARGA: ${SFE_MAIN_NUXT_PUBLIC_ENABLE_CATALOGO_CARGA}
      NUXT_PUBLIC_ENABLE_CONSULTA: ${SFE_MAIN_NUXT_PUBLIC_ENABLE_CONSULTA}
      NUXT_PUBLIC_ENABLE_IAA: ${SFE_MAIN_NUXT_PUBLIC_ENABLE_IAA}
      NUXT_AUTH_ORIGIN: ${SFE_MAIN_NUXT_AUTH_ORIGIN}
      NUXT_PUBLIC_AUTH_BASE_URL: ${SFE_MAIN_NUXT_PUBLIC_AUTH_BASE_URL}
      KEYCLOAK_ISSUER: ${SFE_MAIN_KEYCLOAK_ISSUER}
      KEYCLOAK_CLIENT_ID: ${SFE_MAIN_KEYCLOAK_CLIENT_ID}
      KEYCLOAK_CLIENT_SECRET: ${SFE_MAIN_KEYCLOAK_CLIENT_SECRET}
      NUXT_AUTH_SECRET: ${SFE_MAIN_NUXT_AUTH_SECRET}
      NUXT_PUBLIC_APP_BASE_PATH: ${SFE_MAIN_NUXT_PUBLIC_APP_BASE_PATH}

  sigic-frontend-secondary:
    <<: *default-common-sigic-frontend
    container_name: sigic-frontend-secondary4${COMPOSE_PROJECT_NAME}
    ports:
      - '${SFE_SECONDARY_HOST_PORT}:3000'
    restart: unless-stopped
    depends_on:
      sigic-frontend-main:
        condition: service_completed_successfully
    environment:
      NUXT_PUBLIC_BASE_URL: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_BASE_URL}
      NUXT_PUBLIC_DEFAULT_PAGE: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_DEFAULT_PAGE}
      NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER}
      NUXT_PUBLIC_ENABLE_AUTH: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_AUTH}
      NUXT_PUBLIC_ENABLE_CATALOGO_VISTA: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CATALOGO_VISTA}
      NUXT_PUBLIC_ENABLE_CATALOGO_CARGA: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CATALOGO_CARGA}
      NUXT_PUBLIC_ENABLE_CONSULTA: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CONSULTA}
      NUXT_PUBLIC_ENABLE_IAA: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_IAA}
      NUXT_AUTH_ORIGIN: ${SFE_SECONDARY_NUXT_NUXT_AUTH_ORIGIN}
      NUXT_PUBLIC_AUTH_BASE_URL: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_AUTH_BASE_URL}
      KEYCLOAK_ISSUER: ${SFE_SECONDARY_NUXT_KEYCLOAK_ISSUER}
      KEYCLOAK_CLIENT_ID: ${SFE_SECONDARY_NUXT_KEYCLOAK_CLIENT_ID}
      KEYCLOAK_CLIENT_SECRET: ${SFE_SECONDARY_NUXT_KEYCLOAK_CLIENT_SECRET}
      NUXT_AUTH_SECRET: ${SFE_SECONDARY_NUXT_NUXT_AUTH_SECRET}
      NUXT_PUBLIC_APP_BASE_PATH: ${SFE_SECONDARY_NUXT_NUXT_PUBLIC_APP_BASE_PATH}
