NODE_ENV=production

# NUXT_PUBLIC_GEONODE_URL=https://geonode.dev.geoint.mx
NUXT_PUBLIC_GEONODE_URL={geonode_url}

# NUXT_PUBLIC_GEONODE_API=https://geonode.dev.geoint.mx/api/v2
NUXT_PUBLIC_GEONODE_API={geonode_api_url}

# NUXT_PUBLIC_GEOSERVER_URL=https://geonode.dev.geoint.mx/geoserver
NUXT_PUBLIC_GEOSERVER_URL={geoserver_url}

# NUXT_PUBLIC_IA_BACKEND_URL=https://sigic.ia.dev.geoint.mx
NUXT_PUBLIC_IA_BACKEND_URL={ia_backend_url}

SF_MAIN_HOST_PORT=3000
SF_MAIN_NUXT_PUBLIC_BASE_URL
SF_MAIN_NUXT_PUBLIC_DEFAULT_PAGE
SF_MAIN_NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER
SF_MAIN_NUXT_PUBLIC_ENABLE_AUTH
SF_MAIN_NUXT_PUBLIC_ENABLE_CATALOGO_VISTA
SF_MAIN_NUXT_PUBLIC_ENABLE_CATALOGO_CARGA
SF_MAIN_NUXT_PUBLIC_ENABLE_CONSULTA
SF_MAIN_NUXT_PUBLIC_ENABLE_IAA
SF_MAIN_NUXT_AUTH_ORIGIN
SF_MAIN_NUXT_PUBLIC_AUTH_BASE_URL
SF_MAIN_KEYCLOAK_ISSUER
SF_MAIN_KEYCLOAK_CLIENT_ID
SF_MAIN_KEYCLOAK_CLIENT_SECRET
SF_MAIN_NUXT_AUTH_SECRET
SF_MAIN_NUXT_PUBLIC_APP_BASE_PATH

SF_SECONDARY_HOST_PORT=3001
SF_SECONDARY_NUXT_NUXT_PUBLIC_BASE_URL
SF_SECONDARY_NUXT_NUXT_PUBLIC_DEFAULT_PAGE
SF_SECONDARY_NUXT_NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER
SF_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_AUTH
SF_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CATALOGO_VISTA
SF_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CATALOGO_CARGA
SF_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CONSULTA
SF_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_IAA
SF_SECONDARY_NUXT_NUXT_AUTH_ORIGIN
SF_SECONDARY_NUXT_NUXT_PUBLIC_AUTH_BASE_URL
SF_SECONDARY_NUXT_KEYCLOAK_ISSUER
SF_SECONDARY_NUXT_KEYCLOAK_CLIENT_ID
SF_SECONDARY_NUXT_KEYCLOAK_CLIENT_SECRET
SF_SECONDARY_NUXT_NUXT_AUTH_SECRET
SF_SECONDARY_NUXT_NUXT_PUBLIC_APP_BASE_PATH