NODE_ENV=production

# NUXT_PUBLIC_GEONODE_URL=https://geonode.dev.geoint.mx
NUXT_PUBLIC_GEONODE_URL={geonode_url}

# NUXT_PUBLIC_GEONODE_API=https://geonode.dev.geoint.mx/api/v2
NUXT_PUBLIC_GEONODE_API={geonode_api_url}

# NUXT_PUBLIC_GEOSERVER_URL=https://geonode.dev.geoint.mx/geoserver
NUXT_PUBLIC_GEOSERVER_URL={geoserver_url}

# NUXT_PUBLIC_IA_BACKEND_URL=https://sigic.dev.geoint.mx/llmb
NUXT_PUBLIC_IA_BACKEND_URL={ia_backend_url}

SFE_MAIN_HOST_PORT=3000
SFE_MAIN_NUXT_PUBLIC_BASE_URL={main_nuxt_public_base_url}
SFE_MAIN_NUXT_PUBLIC_DEFAULT_PAGE={main_nuxt_public_default_page}
SFE_MAIN_NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER={main_nuxt_public_geonode_api_default_filter}
SFE_MAIN_NUXT_PUBLIC_ENABLE_AUTH={main_nuxt_public_enable_auth}
SFE_MAIN_NUXT_PUBLIC_ENABLE_CATALOGO_VISTA={main_nuxt_public_enable_catalogo_vista}
SFE_MAIN_NUXT_PUBLIC_ENABLE_CATALOGO_CARGA={main_nuxt_public_enable_catalogo_carga}
SFE_MAIN_NUXT_PUBLIC_ENABLE_CONSULTA={main_nuxt_public_enable_consulta}
SFE_MAIN_NUXT_PUBLIC_ENABLE_IAA={main_nuxt_public_enable_iaa}
SFE_MAIN_NUXT_AUTH_ORIGIN={main_nuxt_auth_origin}
SFE_MAIN_NUXT_PUBLIC_AUTH_BASE_URL={main_nuxt_public_auth_base_url}
SFE_MAIN_KEYCLOAK_ISSUER={main_keycloak_issuer}
SFE_MAIN_KEYCLOAK_CLIENT_ID={main_keycloak_client_id}
SFE_MAIN_KEYCLOAK_CLIENT_SECRET={main_keycloak_client_secret}
SFE_MAIN_NUXT_AUTH_SECRET={main_nuxt_auth_secret}
SFE_MAIN_NUXT_PUBLIC_APP_BASE_PATH={main_nuxt_public_app_base_path}

SFE_SECONDARY_HOST_PORT=3001
SFE_SECONDARY_NUXT_NUXT_PUBLIC_BASE_URL={secondary_nuxt_public_base_url}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_DEFAULT_PAGE={secondary_nuxt_public_default_page}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER={secondary_nuxt_public_geonode_api_default_filter}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_AUTH={secondary_nuxt_public_enable_auth}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CATALOGO_VISTA={secondary_nuxt_public_enable_catalogo_vista}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CATALOGO_CARGA={secondary_nuxt_public_enable_catalogo_carga}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_CONSULTA={secondary_nuxt_public_enable_consulta}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_ENABLE_IAA={secondary_nuxt_public_enable_iaa}
SFE_SECONDARY_NUXT_NUXT_AUTH_ORIGIN={secondary_nuxt_auth_origin}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_AUTH_BASE_URL={secondary_nuxt_public_auth_base_url}
SFE_SECONDARY_NUXT_KEYCLOAK_ISSUER={secondary_keycloak_issuer}
SFE_SECONDARY_NUXT_KEYCLOAK_CLIENT_ID={secondary_keycloak_client_id}
SFE_SECONDARY_NUXT_KEYCLOAK_CLIENT_SECRET={secondary_keycloak_client_secret}
SFE_SECONDARY_NUXT_NUXT_AUTH_SECRET={secondary_nuxt_auth_secret}
SFE_SECONDARY_NUXT_NUXT_PUBLIC_APP_BASE_PATH={secondary_nuxt_public_app_base_path}