NUXT_AUTH_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# NODE_ENV=production
NODE_ENV=development
KEYCLOAK_CLIENT_ID=sigic-nuxt-dev
NUXT_PUBLIC_GEONODE_API=https://geonode.dev.geoint.mx/api/v2
NUXT_PUBLIC_GEOSERVER_URL=https://geonode.dev.geoint.mx/geoserver
NUXT_PUBLIC_IA_BACKEND_URL=https://sigic.ia.dev.geoint.mx
NUXT_PUBLIC_BASE_URL=http://localhost:3000
NUXT_AUTH_ORIGIN=http://localhost:3000
KEYCLOAK_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NUXT_PUBLIC_GEONODE_URL=https://geonode.dev.geoint.mx
KEYCLOAK_ISSUER=https://iam.dev.geoint.mx/realms/sigic

AUTH_BASE_URL=/api/auth
# AUTH_BASE_URL=/sigic/api/auth

# NUXT_PUBLIC_DEFAULT_PAGE=/
# NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER=

NUXT_PUBLIC_ENABLE_AUTH=true
NUXT_PUBLIC_ENABLE_CATALOGO_VISTA=true
NUXT_PUBLIC_ENABLE_CATALOGO_CARGA=true
NUXT_PUBLIC_ENABLE_CONSULTA=true
NUXT_PUBLIC_ENABLE_IAA=true

# NUXT_APP_BASE_URL=/sigic/
NUXT_APP_BASE_URL=/
