NUXT_AUTH_SECRET=ZxYwEJCemFXK6xnWLKi6kwHnTR1Iq98O
NODE_ENV=development
# NODE_ENV=production

KEYCLOAK_CLIENT_ID=XXXXXXXX-XXXXX-XXXXX
NUXT_PUBLIC_GEONODE_API=https://geonode.dev.geoint.mx/api/v2
NUXT_PUBLIC_GEOSERVER_URL=https://geonode.dev.geoint.mx/gs
NUXT_PUBLIC_BASE_URL=http://localhost:3000
# NUXT_AUTH_ORIGIN=
KEYCLOAK_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NUXT_PUBLIC_GEONODE_URL=https://geonode.dev.geoint.mx
KEYCLOAK_ISSUER=https://iam.dev.geoint.mx/realms/sigic

NUXT_PUBLIC_AUTH_BASE_URL=http://localhost:3000/api/auth

# NUXT_PUBLIC_DEFAULT_PAGE=/
# NUXT_PUBLIC_GEONODE_API_DEFAULT_FILTER=
NUXT_PUBLIC_ENABLE_AUTH=true
NUXT_PUBLIC_ENABLE_CATALOGO_VISTA=true
NUXT_PUBLIC_ENABLE_CATALOGO_CARGA=true
NUXT_PUBLIC_ENABLE_CONSULTA=true
NUXT_PUBLIC_ENABLE_IAA=true

# NUXT_PUBLIC_APP_BASE_PATH=/sigic/
NUXT_PUBLIC_APP_BASE_PATH=/
