.pictograma-bot:before {
  content: '\e011';
}
.pictograma-chat:before {
  content: '\e012';
}
.pictograma-enviar:before {
  content: '\e013';
}
.pictograma-explorar:before {
  content: '\e014';
}
.pictograma-privado:before {
  content: '\e015';
}
.pictograma-proyectos:before {
  content: '\e016';
}
.pictograma-reporte:before {
  content: '\e017';
}
