.pictograma-bot:before {
  content: "\e011";
}
.pictograma-chat:before {
  content: "\e012";
}
.pictograma-explorar:before {
  content: "\e013";
}
.pictograma-proyectos:before {
  content: "\e014";
}
