// perfil sigic https://sigic.dev.geoint.mx/
body[data-perfil="sigic"],
:root {
  // colores primarios
  --color-primario-4: #991f47;
  --color-primario-3: #9d2148;
  --color-primario-2: #cc7a88;
  --color-primario-1: #cc8f9c;

  // colores secundarios
  --color-secundario-12: #391821;
  --color-secundario-11: #3f1d26;
  --color-secundario-11-rgb: 63, 29, 38;
  --color-secundario-10: #44242c;
  --color-secundario-9: #53323c;
  --color-secundario-8: #5f3e47;
  --color-secundario-7: #876670;
  --color-secundario-6: #b19099;
  --color-secundario-5: #dab9c2;
  --color-secundario-4: #f5d4dd;
  --color-secundario-3: #f8e1e8;
  --color-secundario-2: #fcf3f5;
  --color-secundario-1: #fcf9fa;
}
